<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Thank You</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Congratulations. You added a book!</h1>
            <p>Added book is in out library</p>
        </div>
    </div>
</section>

<section class="container">
    
</section>
</div>
</body>
</html>
