<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>No Books</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>No Books</h1>
            <p>No such book or wrong parameters</p>
        </div>
    </div>
</section>

<section class="container">
    
</section>
</div>
</body>
</html>
